<div class="main">
    <img src="assets/fta.png" alt="FTA" />

    <ng-container *ngIf="mostrar_welcome === true">
        <div class="align-middle panel-welcome">
            <button class="btn btn-outline-danger float-right btn-voltar" (click)="formulario()">
        VOLTAR
      </button>
            <img class="img-fluid" src="assets/welcome.png" alt="welcome" />
        </div>
    </ng-container>

    <ng-container *ngIf="mostrar_welcome === false">
        <div class="row panels">
            <div class="col col-6 panel-left">
                <div class="row">
                    <ng-container *ngIf="mostrar_panel === 0">
                        <div class="col col-12">
                            <fieldset>
                                <legend>SELECIONE UMA IMAGEM PARA APRESENTAR</legend>
                                <select [(ngModel)]="tipo" name="tipo" id="tipo" class="custom-select custom-select-lg fta-form">
                  <option value="PADRAO">PADRÃO</option>
                  <option value="CAFE">PAUSA DE CAFÉ</option>
                  <option value="ALMOCO">PAUSA DE ALMOÇO</option>
                  <option value="SIMULTANEAS">SALAS SIMULTÂNEAS</option>
                  <option value="ATIVIDADES">ATIVIDADE EM SALA</option>
                </select>
                            </fieldset>
                        </div>

                        <div class="col col-4">
                            <fieldset>
                                <legend>HORAS</legend>
                                <select [(ngModel)]="tempo.hora" name="hora" id="hora" class="custom-select custom-select-lg">
                  <option *ngFor="let valor of horas" value="{{ valor }}">
                    {{ valor }}
                  </option>
                </select>
                            </fieldset>
                        </div>

                        <div class="col col-4">
                            <fieldset>
                                <legend>MINUTOS</legend>
                                <select [(ngModel)]="tempo.min" name="minuto" id="minuto" class="custom-select custom-select-lg">
                  <option *ngFor="let valor of minutos" value="{{ valor }}">
                    {{ valor }}
                  </option>
                </select>
                            </fieldset>
                        </div>

                        <div class="col col-4">
                            <fieldset>
                                <legend>SEGUNDOS</legend>
                                <select [(ngModel)]="tempo.seg" name="segundo" id="segundo" class="custom-select custom-select-lg">
                  <option *ngFor="let valor of seguntos" value="{{ valor }}">
                    {{ valor }}
                  </option>
                </select>
                            </fieldset>
                        </div>

                        <div class="col col-12">
                            <button type="button" class="btn btn-outline-danger btn-block btn-timer" (click)="temporizador()">
                <span>CRIAR TEMPORIZADOR</span>
              </button>
                        </div>

                        <div class="col col-4">
                            <button type="button" class="btn btn-outline-danger btn-block" (click)="welcome()">
                <span>BOAS-VINDAS</span>
              </button>
                        </div>
                        <div class="col col-5">
                            <button type="button" disabled="disabled" class="btn btn-outline-danger btn-block">
                <span>TEMPO INDEFINIDO</span>
              </button>
                        </div>
                        <div class="col col-3">
                            <button type="button" class="btn btn-outline-danger btn-block">
                <span class="v-btn__content">AJUDA</span>
              </button>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="mostrar_panel === 1">
                        <div class="timer">
                            <countdown #cd1 [config]="{ demand: true, leftTime: 5 }" (event)="handleEvent($event)"></countdown>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="col col-6 panel-right">
                <img *ngIf="tipo === 'PADRAO'" class="img-fluid" src="assets/study.png " alt="Study " />
                <img *ngIf="tipo === 'CAFE'" class="img-fluid" src="assets/cafe.png " alt="Pausa de Café " />
                <img *ngIf="tipo === 'ALMOCO'" class="img-fluid" src="assets/almoco.png " alt="Pausa de Almoço " />
                <img *ngIf="tipo === 'SIMULTANEAS'" class="img-fluid" src="assets/simultaneas.png " alt="Salas Simultâneas " />
                <img *ngIf="tipo === 'ATIVIDADES'" class="img-fluid" src="assets/atividades.png " alt="Atividades em Sala " />
            </div>
        </div>
    </ng-container>
</div>